<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Region</h1>
    <form action="/region" method="post">
        {% csrf_token %}
        <p>Name:</p>
        <input type="text" name="form_name" id="">
        <br>
        <p>Latitude:</p>
        <input type="number" name="form_latitude" id="">
        <br>
        <p>Longitude:</p>
        <input type="number" name="form_longitude" id="">
        <br>
        <button>Add Region</button>
    </form>
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
    <h1>All Regions</h1>
    {{ regions }}
    <ul>
        {% for reg in regions %}
            <li>{{ reg.name }} lat: {{reg.latitude}} long: {{reg.longitude}} are produced by {{ reg.produced_by.count }} producers
                <ul>
                    {% for g in reg.grapes_that_belongs_to.all %}
                        <li>{{ g.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <h1>Add Grape</h1>
    <form action="/grape" method="post">
        {% csrf_token %}
        <p>Name:</p>
        <input type="text" name="form_name" id="" required>
        <br>
        <p>Description:</p>
        <input type="text" name="form_description" id="">
        <br>
        <p>Region:</p>
        <select name="form_region" id="">
            <option value="" selected disabled>Select a region</option>
            {% for reg in regions %}
                <option value="{{ reg.id }}">{{ reg.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button>Add Region</button>
    </form>
    <h1>All Grapes</h1>
    {{ grapes }}
    <ul>
        {% for grape in grapes %}
            <li>{{ grape.name }} grown in {{ grape.region.name }}</li>
        {% endfor %}
    </ul>
    <h1>Add Producer</h1>
    <form action="/producer" method="post">
        {% csrf_token %}
        <p>Name:</p>
        <input type="text" name="form_name" id="" required>
        <br>
        <button>Add Producer</button>
    </form>
    <h1>All Producers</h1>
    {{ producers }}
    <ul>
        {% for pro in producers %}
            <li>{{ pro.name }} belong to the following Regions:
                <ul>
                    {% for reg in pro.regions.all %}
                        <li>{{ reg.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <h1>Connect Region to Producer</h1>
    <form action="/connect_region_to_producer" method="post">
        {% csrf_token %}
        <p>Region:</p>
        <select name="form_region" id="">
            <option value="" selected disabled>Select a region</option>
            {% for reg in regions %}
                <option value="{{ reg.id }}">{{ reg.name }}</option>
            {% endfor %}
        </select>
        <br>
        <p>Producer:</p>
        <select name="form_producer" id="">
            <option value="" selected disabled>Select a producer</option>
            {% for pro in producers %}
                <option value="{{ pro.id }}">{{ pro.name }}</option>
            {% endfor %}
        </select>
        <button>Connect</button>
    </form>
</body>
</html>